<app-navbar></app-navbar>
<div *ngIf="this.as.loading">
  <div *ngIf="this.as.loading">
      <app-spinner></app-spinner>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center text-center" *ngIf='this.as.logeado.perfil == "admin" && this.pacienteActual == ""'>
    <div class="card button col-5 ms-2 me-2" style="border-radius: 2px;" (click)="this.cargarPacientes()">
      <div class="card-title" >
          <img class="card-img-top" src="../../../assets/paciente2.jpg" style="width: 370px; height: 280px; border-radius: 2px;" >
      </div>
      <div class="card-body">   
          <h6 class="card-title fs-4 mt-2" style="color: rgb(231, 226, 226);">Paciente</h6>
      </div>
  </div>
      <div class="p-3" *ngIf='this.tablaPacientes == true'>
        <div class="text-light mt-2">
          <div class="row justify-content-around m-2 text-center">            
                  <div class="card bg-dark text-white mt-2 col-4 " style="width: 20em; height: 12em; border-color: rgba(34, 123, 196, 0.925); cursor: pointer;"
                  *ngFor='let paciente of this.pacientes'>
                      <div class="card-body" (click)='this.asignarPaciente(paciente)'>
                        <div class="row">
                          <div class="col-6 d-flex">
                            <img class="card-img-top col-5 me-3" src="{{paciente.imagenes[0]}}" width="20px" height="120px">
                            <img class="card-img-top col-5 ms-3" src="{{paciente.imagenes[1]}}" width="20px" height="120px">
                          </div>
                        </div>
                          <h6 class="card-title mt-3">{{paciente.nombre}} {{paciente.apellido}}</h6>
                      </div>
                  </div>
          </div> 
      </div>
      </div>
     
    </div> 
    <div class="p-3" *ngIf='this.pacienteActual != "" && this.as.logeado.perfil == "admin"'>
      <div class="text-light mt-2">
        <div class="row justify-content-around m-2 text-center">            
                <div class="card bg-dark text-white mt-2 col-4 " style="width: 20em; height: 12em; border-color: rgba(34, 123, 196, 0.925); cursor: pointer;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <img class="card-img-top col-5 me-3" src="{{this.pacienteActual.imagenes[0]}}" width="20px" height="120px">
                          <img class="card-img-top col-5 ms-3" src="{{this.pacienteActual.imagenes[1]}}" width="20px" height="120px">
                        </div>
                      </div>
                        <h6 class="card-title mt-3">{{this.pacienteActual.nombre}} {{this.pacienteActual.apellido}}</h6>
                    </div>
                </div>
        </div> 
    </div>
    </div>
    <div class="row justify-content-center text-center" *ngIf='this.as.logeado.perfil == "admin" && this.pacienteActual != "" && this.especialistaSeleccionado == ""'>
      <div class="card button col-5 ms-2" style="border-radius: 2px;" (click)="this.cargarEspecialistas()">
        <div class="card-title">
            <img class="card-img-top" src="../../../assets/especialista2.jpg" style="height: 280px; border-radius: 2px;">
        </div>
        <div class="card-body">
            <h6 class="card-title fs-4 mt-2 mb-0" style="color: rgb(231, 226, 226);">Especialista</h6>
        </div>
    </div>
    </div>   
    <div class="row justify-content-center text-center" *ngIf='this.as.logeado.perfil != "admin" && this.especialistaSeleccionado == ""'>
      <div class="card button col-5 ms-2" style="border-radius: 2px;" (click)="this.cargarEspecialistas()">
        <div class="card-title">
            <img class="card-img-top" src="../../../assets/especialista2.jpg" style="height: 280px; border-radius: 2px;">
        </div>
        <div class="card-body">
            <h6 class="card-title fs-4 mt-2 mb-0" style="color: rgb(231, 226, 226);">Especialista</h6>
        </div>
    </div>
  </div>  
  
  <div class="row justify-content-center text-center" *ngIf='this.especialistaSeleccionado != ""'>
    <div class="col-5 ms-2" style="border-radius: 2px;">
      <button class="botonon fs-3" (click)="this.cargarEspecialistas()">Volver a Especialistas</button>
    </div>
  </div> 
  </div>
    <br>
  <div div *ngIf="this.tablaEspecialistas" style="background-color: rgba(0, 0, 0, 0.623);">
    <div class="p-3">
      <div class="text-light mt-2">
        <div class="row justify-content-around m-2 text-center">        
          <div class="card bg-dark text-white mt-2 me-3 col-6 " style="width: 10em; height: 14em; border-color: rgba(34, 123, 196, 0.925); cursor: pointer;"
            *ngFor='let especialista of this.especialistas'>
                    <div class="card-body" (click)='this.seleccionarEspecialista(especialista)'>
                        <img class="card-img-top" src="{{especialista.imagen}}" width="10px" height="120px">
                        <h6 class="card-title mt-3">{{especialista.nombre}} {{especialista.apellido}}</h6>
                    </div>
                </div>
        </div> 
      </div>
    </div>
    </div>
<br>
<div div *ngIf="this.tablaEspecialidades" style="background-color: rgba(0, 0, 0, 0.623);">
  <div class="p-3">
    <div class="text-light mt-2">
      <div class="row justify-content-around m-2 text-center">
        <div class="card bg-dark text-white mt-2 me-3 col-6 " style="width: 12em; height: 14em; border-color: rgba(34, 123, 196, 0.925); cursor: pointer;"
          *ngFor='let especialidad of this.especialidadesEspecialista'>
                  <div class="card-body" (click)='this.seleccionarEspecialidad(especialidad)'>
                      <img class="card-img-top" src="{{especialidad.imagen}}" width="10px" height="120px">
                      <h6 class="card-title mt-3">{{especialidad.nombre}}</h6>
                  </div>
              </div>
      </div> 
    </div>
  </div>
  </div>
  <div *ngIf='this.especialistaSeleccionado != "" && this.especialistaSeleccionado.especialidad.length == 1 && this.especialidadSeleccionada != ""' style="background-color: rgba(0, 0, 0, 0.623);">
    <div class="p-3">
      <div class="text-light mt-2">
        <div class="row justify-content-around m-2 text-center">
          <div class="card bg-dark text-white mt-2 me-3 col-6 " style="width: 12em; height: 14em; border-color: rgba(34, 123, 196, 0.925);">
                    <div class="card-body">
                        <img class="card-img-top" src="{{this.especialidadSeleccionada.imagen}}" width="10px" height="120px">
                        <h6 class="card-title mt-3">{{this.especialidadSeleccionada.nombre}}</h6>
                    </div>
                </div>
        </div> 
      </div>
    </div>
    </div>
<br>
<div *ngIf="verTurnos" style="background-color: rgba(0, 0, 0, 0.623);">
  <div class="row justify-content-around">            
    <div class="col-7 text-center" style="overflow-y: auto;">
      <button type="button" class="button3 ms-3 me-3" *ngFor='let dia of this.diasArrayFiltrados' (click)='this.mostrarHorarios(dia)'>{{dia}}</button>
    </div>
  </div>
  <p class="text-light text-center fs-3 pt-3 pb-3" *ngIf='this.sinDias'>{{this.especialistaSeleccionado.nombre}} {{this.especialistaSeleccionado.apellido}} ya no tiene dias disponibles, sentimos las molestias</p>
  
<div *ngIf="verHoras">
  <div class="row justify-content-around">            
    <div class="mt-2 ml-1 col-7 text-center" style="overflow-y: auto;">
      <button type="button" class="buttonHora ms-3 me-3" *ngFor='let hora of this.horasArray' (click)='this.seleccionarTurno(hora)'>{{hora}}</button>
    </div>
</div>
</div>


