<div class=" d-flex w-100 p-3 mx-auto flex-column text-center pag">
    <main role="main" class="inner cover blur" style="margin-top: 150px; width: 75%; margin-left: auto; margin-right: auto; height: 50%; padding-top: 80px;">
      <h1 class="cover-heading">Error al acceder a esta pagina</h1>
      <p class="lead">Para acceder a esta página debe estar logueado como paciente o como especialista</p>
      <p class="lead">
        <a class="btn btn-lg btn btn-outline-light" style="cursor: pointer;" [routerLink] = "['/login']">Login</a>
      </p>
    </main>
</div>
