#btn-mas{
    display: none;
}
.container2{
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: rgba(34, 123, 196, 0.925);;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: rgba(34, 123, 196, 0.925);;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(360deg);
    font-size: 25px;
}
.us{
    background-image: url("../../../assets/estados-unidos.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.por{
    background-image: url("../../../assets//portugal.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.arg{
    background-image: url("../../../assets/argentina.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}