<app-navbar></app-navbar>
<div class="row justify-content-around text-center">
    <div class="p-3">
    <div class="text-light mt-2" >
      <div class="row justify-content-around m-2 text-center">            
              <div class="card bg-dark text-white mt-2 ml-1 col-7 " style="width: 20em; height: 23em; border-color: rgba(118, 29, 170, 0.925); cursor: pointer;"
              *ngFor='let paciente of this.pacientesFiltrados'>
                  <div class="card-body">
                    <div class="row justify-content-between">
                      <div class="col-6 d-flex">
                        <img class="card-img-top col-5 me-3" src="{{paciente.imagenes[0]}}" width="20px" height="120px">
                        <img class="card-img-top col-5 ms-3" src="{{paciente.imagenes[1]}}" width="20px" height="120px">
                      </div>
                      <h6 class="card-title mt-3">{{paciente.nombre}} {{paciente.apellido}}</h6>
                      <div *ngIf='this.mostrarAtenciones'>
                          <p class="mb-0" *ngFor="let dia of this.atenciones">{{dia}}</p>
                      </div>
                      <div>
                        <button class="btn btn-light mt-2 col-10" (click)='this.mostrarHistoriaClinica(paciente)'>Ver historia clinica</button>
                        <button class="btn btn-light mt-2 col-10" (click)='this.cargarArrayDias(paciente)'>Ver ultimas 3 atenciones</button>
                      </div>
                    </div>
                  </div>
              </div>
      </div> 
    </div>
    <div *ngIf='this.mostrarHC' class="text-light mt-2">
      <div class="row justify-content-around m-2">            
              <div class="card text-dark text-start mt-2 col-9 mb-2" style="background-color: rgb(122, 122, 122); border-color: rgba(118, 29, 170, 0.925); cursor: pointer;"
              *ngFor='let hc of this.pacienteSeleccionado.historiasClinicas'>
                  <div class="card-header" style="background-color: rgb(122, 122, 122);"> 
                      <p>
                          <b class="fs-5 me-5">Fecha: {{hc.fecha.dia}}</b> 
                          <b class="fs-5 me-5">Especialista: {{hc.especialista.nombre}} {{hc.especialista.apellido}}</b>
                          <b class="fs-5">Especialidad: {{hc.especialidad.nombre}}</b>
                      </p>
                   </div>
                  <div class="card-body">
                    <p class="fs-5">
                      <b>Altura:</b> {{hc.altura}}
                    </p>
                    <p class="fs-5">
                      <b>Peso:</b> {{hc.peso}}
                    </p>
                    <p class="fs-5">
                      <b>Temperatura:</b> {{hc.temperatura}}
                    </p>
                    <p class="fs-5">
                      <b>Presión:</b> {{hc.presion}}
                    </p>
                    <p class="fs-5" *ngIf='hc.datoDinamico1 != ""'>
                      <b>{{hc?.datoDinamico1?.clave}}:</b> {{hc?.datoDinamico1?.valor}}
                    </p>   
                    <p class="fs-5" *ngIf='hc.datoDinamico2 != ""'>
                      <b>{{hc?.datoDinamico2?.clave}}:</b> {{hc?.datoDinamico2?.valor}}
                    </p> 
                    <p class="fs-5" *ngIf='hc.datoDinamico3 != ""'>
                      <b>{{hc?.datoDinamico3?.clave}}:</b> {{hc?.datoDinamico3?.valor}}
                    </p>
                  </div>
              </div>
      </div> 
    </div>
    <div *ngIf='this.pacientesFiltrados.length == 0' class="text-light mt-4">
      <p class="fs-2">{{this.as.logeado.nombre}} {{this.as.logeado.apellido}} no ha atendido a ninguna persona</p>
  </div> 
  </div>    
  
