.pag {
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    font-size: 1.125rem;
    text-anchor: middle;
    height: 100vh;
    color: rgb(231, 226, 226);
  }

.blur
{
    background: rgba(0, 0, 0, 0.568); 
    backdrop-filter: blur(10px); 
}

.button {
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius:2px;
  cursor: pointer;
  width: 400px;
  height: 150px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(27, 27, 27, 0.829);
}