<app-navbar></app-navbar>
<br>
<div class="container bg-dark turnos p-3" style="border-radius: 2px;">
  <h3 class="text-light">Gestionar Turnos</h3>

  <div *ngIf="true">

<div class="container">
 <div class="row">
  <input class="form-control col-12" type="text" placeholder="Busqueda" [(ngModel)]="datoABuscar" (ngModelChange)="buscar()">
 </div>
</div>

<h2 *ngIf="this.todosLosTurnos.length == 0" class="mt-3 text-light">No hay turnos</h2>
    <div *ngFor="let turno of todosLosTurnos">

      <div class="card-body" style="border-radius: 2px;">
        <div [ngClass]="{'card text-dark bg-secondary' : turno.estado == 'Pendiente','card text-dark bg-warning' : turno.estado == 'Cancelado',
        'card text-dark bg-info' : turno.estado == 'Aceptado','card text-dark bg-danger' : turno.estado == 'Rechazado',
        'card text-dark bg-success' : turno.estado == 'Realizado'}">
          <div class="card-header"> 
            <b class="fs-5">Fecha: {{turno.fecha.dia}} {{turno.fecha.hora}}</b> 
            </div>
          <div class="card-body">
            <h5 class="card-title"> 
                <b>Estado:</b> {{turno.estado}} 
            </h5>
            <p class="card-text">
                <p>
                    <b>Paciente:</b> {{turno.paciente.nombre}} {{turno.paciente.apellido}}
                </p>
                <p>
                    <b>Especialista:</b> {{turno.especialista.nombre}} {{turno.especialista.apellido}}
                </p>
                <p>
                    <b>Especialidad:</b> {{turno.especialidad.nombre}}
                </p>
                <p *ngIf='turno.estado == "Cancelado" || turno.estado == "Rechazado"'>
                    <b *ngIf='turno.comentarioAdministrador != undefined' >Comentario Administrador:</b> {{turno.comentarioAdministrador}}
                    <b *ngIf='turno.comentarioEspecialista != undefined' >Comentario Especialista:</b> {{turno.comentarioEspecialista}}
                    <b *ngIf='turno.comentarioPaciente != undefined' >Comentario Paciente:</b> {{turno.comentarioPaciente}}
                </p>
              <div class="container">
                <div class="row">
                  <div class="col" *ngIf="turno.estado == 'Pendiente'">
                    <button class="btn btn-sm btn-danger " (click)='this.cancelado = !this.cancelado'>Cancelar</button>
                  </div>
                </div>
                <div class="mt-2 mb-2" *ngIf='this.cancelado'>
                    <form [formGroup]="form" (ngSubmit)='this.cancelarTurno(turno)'>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Razon de la cancelación" formControlName="comentario"required>
                          <small class="invalid" *ngIf="form.controls.comentario.errors?.required">Para cancelar el turno es necesario una razón</small>
                          <small class="invalid" *ngIf="form.controls.comentario.errors?.minlength || form.controls.comentario.errors?.maxlength">Debe tener entre 10 y 40 caracteres</small>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success btn-block mb-3" *ngIf='this.cancelado' [disabled]="form.invalid">Enviar</button>
                    </form>
                  </div>
              </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
  </div>
</div>